.transaction-list-container {
  background-color: #e8ebef;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 500px;
}

.transaction-list-container > h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-bottom: 4px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.transaction-list {
  list-style-type: none;
  padding-left: 0;
}

.transaction-item {
  font-size: 18px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-property {
  margin-right: 20px;
}

.delete-transaction-button,
.save-transaction-button,
.cancel-transaction-button,
.edit-transaction-button {
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #aab9cf;
  margin-left: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-transaction-button:hover,
.save-transaction-button:hover,
.cancel-transaction-button:hover,
.edit-transaction-button:hover {
  background-color: #8a9db5;
}

.delete-transaction-button:active,
.save-transaction-button:active,
.cancel-transaction-button:active,
.edit-transaction-button:active {
  background-color: #6a7d95;
}

.transaction-item > input,
.transaction-item > select {
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  cursor: text;
  width: 180px;
}

.transaction-item > input:focus {
  outline: none;
}

.transaction-item > select {
  cursor: pointer;
}

.transaction-item > select:focus {
  outline: none;
}

.sorting-options {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.sorting-options button {
  padding: 8px 12px;
  border: none;
  background-color: #cbced2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sorting-options button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.sorting-options button.active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.transaction-details {
  display: flex;
  align-items: center;
  height: 100%;
}

.transaction-buttons {
  display: flex;
  align-items: center;
  height: 100%;
}
