.transaction-list-container {
  background-color: #e8ebef;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 500px;
}

.transaction-list-container > h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-bottom: 4px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.transaction-list {
  list-style-type: none;
  padding-left: 0;
}

.transaction-item {
  font-size: 1.1rem;
  line-height: 1.5;
}

.transaction-property {
  margin-right: 20px;
}
